* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
    font-family: 'Inter', sans-serif;
    

}
@media (max-width: 650px) {
body {background-color: #454240}

            /* primeira pagina */
    .abertura {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    padding: 79% 0;
    }
    .abertura img{margin-right: 19px;}
    .abertura h1{font-size: 40px;}
    

                    /* segunda pagina */


    .movie-started img{width: 90%;display: flex;border-radius: 10px;margin:131px auto auto auto;}

    .started{
    color: #FFFFFF;
    display: flex;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 90px;
    }

    .started span{margin-top: 20px; color: #CFCECD;font-size: 20px;}
    .button-started{display: flex;
        justify-content: center;
        color: #FFFFFF;
        background-color: #CA4D4D;
        border-radius: 23px;
        width: 342px;
        height: 70px;
        align-items: center;
        border: none;
        font-size: 20px;
        font-weight: 700;
        margin: 47px auto auto auto;
        cursor: pointer;
    }
    .button-started a{color: #FFFFFF;}
}